<div>
	<img src="{{ modelo.foto.url }}">
	<h2>{{ modelo.nombre }}, {{ modelo.marca }}</h2>
	<p>{{ modelo.descripcion }}</p>
	<h3>S/. {{ modelo.precio }}</h3>
	<small>{{ modelo.cantidad }} ejemplares</small>
</div>
