{% if lista_modelos %}
    <ul>
    {% for modelo in lista_modelos %}
        <li><a href="/productos/{{ modelo.id }}/">{{ modelo.nombre }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay modelos disponibles.</p>
{% endif %}